<div class="container__footer-card">

    <div class="container__address-card">
        <div class="logo">
            <img src="https://scontent.faqa4-1.fna.fbcdn.net/v/t39.30808-1/302418061_758974392167104_1166910054634756345_n.png?stp=dst-png_s200x200&_nc_cat=106&ccb=1-7&_nc_sid=f4b9fd&_nc_eui2=AeEv2bgcEZxkxqSoNj-i_VxGWpx-xTob_oZanH7FOhv-hmP0W_EB291SnUAGNMqxy2MzAUDQNCZvfGJt164X4oDr&_nc_ohc=kW6RPwtYSBMQ7kNvgGqacee&_nc_ht=scontent.faqa4-1.fna&oh=00_AYByLc_Lim6V9TpGpuxEqX2vfZmVWPQGCyyPAsXKvToaOw&oe=66CD7CE2"
                alt="" srcset="">
        </div>
        <div class="address">
            <p>
                Lar Escola Rita Maria de Jesus <br>
                Rua Cândido Portinari, 46 - Vila Xavier,
                Araraquara, SP, Brasil <br>
                Telefone: (16) 3337-4760
            </p>
        </div>
    </div>

    <div class="container__social-card">
        <div class="title">
            <h3>Visite nossa rede social !</h3>
        </div>
        <div class="arrow">
            <img src="https://img.icons8.com/ios/50/228BE6/long-arrow-right--v1.png" alt="long-arrow-right--v1"/>
        </div>
        <div class="logo-facebook">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""
                srcset="">
        </div>
    </div>
</div>
<div class="copyright">
    <p>₢2024 Lar Escola Rita Maria de Jesus</p>
</div>