<div class="container__footer-card">

    <div class="container__address-card">
        <div class="logo">
            <img src="https://img.icons8.com/?size=100&id=b-XFIFHiuLgD&format=png&color=000000"
                alt="" srcset="">
        </div>
        <div class="address">
            <p>
                Lar Escola Rita Maria de Jesus <br>
                Rua Cândido Portinari, 46 - Vila Xavier,
                Araraquara, SP, Brasil <br>
                Telefone: (16) 3337-4760
            </p>
        </div>
    </div>

    <div class="container__social-card">
        <div class="title">
            <h3>Visite nossa rede social !</h3>
        </div>
        <div class="arrow">
            <img src="https://img.icons8.com/ios/50/228BE6/long-arrow-right--v1.png" alt="long-arrow-right--v1"/>
        </div>
        <div class="logo-facebook">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt=""
                srcset="">
        </div>
    </div>
</div>
<div class="copyright">
    <p>₢2024 Lar Escola Rita Maria de Jesus</p>
</div>