<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
            src="https://img.icons8.com/?size=100&id=b-XFIFHiuLgD&format=png&color=000000" 
            alt="" 
            srcset=""
            width="40px"
            height="40px"
        >
        <h1 class="manu__lar">Lar escola</h1>
    </div>

    <div class="menu-bar__list">
        <ul>
            <a href="/home"><li>Página inicial</li></a>
            <a href="/listaAlunos"><li>Alunos</li></a>
            <a href="/listaProfessores"><li>Professores</li></a>
            <a href="/comunicados"><li>Comunicados</li></a>
        </ul>
    </div>

    <div class="menu-bar__button">
        <a href="/home"><button>Olá, Mariana | Sair</button></a>
    </div>
</div>

<div class="button__container">

    <div class="button-box__container">
        <div class="button-box__icon">
            <img src="https://img.icons8.com/fluency/48/signing-a-document.png" alt="" srcset="">
        </div>
        <a routerLink="/cadastroProfessor"><button>Cadastrar professor</button></a>
    </div>

    <div class="button-box__container">
        <div class="button-box__icon">
            <img src="https://img.icons8.com/fluency/48/signing-a-document.png" alt="" srcset="">
        </div>
        <a routerLink="/cadastroAluno"><button>Cadastrar aluno</button></a>
    </div>

    <div class="button-box__container">
        <div class="button-box__icon">
            <img src="https://img.icons8.com/color/48/identification-documents.png">
        </div>
        <a routerLink="/carteirinhaEstudante"><button>Carteirinha de estudante</button></a>
    </div>

    <div class="button-box__container">
        <div class="button-box__icon">
            <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/external-cap-back-to-school-justicon-lineal-color-justicon.png" alt="" srcset="">
        </div>
        <a routerLink="/listaAlunos"><button>Lista de alunos</button></a>
    </div>

    <div class="button-box__container">
        <div class="button-box__icon">
            <img src="https://img.icons8.com/ios/50/teacher.png" alt="" srcset="">
        </div>
        <a routerLink="/listaProfessores"><button>Lista de professores</button></a>
    </div>

    <div class="button-box__container">
        <div class="button-box__icon">
            <img src="https://img.icons8.com/color/48/exam.png" alt="" srcset="">
        </div>
        <a routerLink="/notas"><button>Notas</button></a>
    </div>

    <div class="button-box__container">
        <div class="button-box__icon">
            <img src="https://img.icons8.com/ios/50/commercial--v1.png" alt="" srcset="">
        </div>
        <a routerLink="/comunicados"><button>Comunicados</button></a>
    </div>

    <div class="button-box__container">
        <div class="button-box__icon">
            <img src="https://img.icons8.com/stickers/50/journal.png" alt="" srcset="">
        </div>
        <a routerLink="/diario"><button>Diário</button></a>
    </div>

    <div class="button-box__container">
        <div class="button-box__icon">
            <img src="https://img.icons8.com/color/48/calendar--v1.png" alt="" srcset="">
        </div>
        <a routerLink="/atividades"><button>Atividades</button></a>
    </div>

    <div class="button-box__container">
        <div class="button-box__icon">
            <img src="https://img.icons8.com/flat-round/50/secured-letter--v1.png">
        </div>
        <a routerLink="/mensagens"><button>Mensagens</button></a>
    </div>
    
</div>

