<div class="container__big-card">

    <div class="container__left">

        <div class="container__left-logo">
            <img src="https://scontent.fqsc2-1.fna.fbcdn.net/v/t39.30808-1/302418061_758974392167104_1166910054634756345_n.png?stp=dst-png_s200x200&_nc_cat=106&ccb=1-7&_nc_sid=2d3e12&_nc_eui2=AeEv2bgcEZxkxqSoNj-i_VxGWpx-xTob_oZanH7FOhv-hmP0W_EB291SnUAGNMqxy2MzAUDQNCZvfGJt164X4oDr&_nc_ohc=UWj7cs5A2CEQ7kNvgFsK5Dt&_nc_oc=Adjtx4yXq3sZ-03DuRkGXl2oKhwnKsn9ut-8yWSBpUAzihuAceKk8VXjfJCJcoQUIxdjMNg2oMyIhVFElMlW-6Ox&_nc_zt=24&_nc_ht=scontent.fqsc2-1.fna&_nc_gid=AN9vP53WpkygDAPJ138kR81&oh=00_AYBWXYREA-H2yR6_-4HulKCUIYQX77_gMqOU6NJ8jI9vGg&oe=67AEED62" alt="" srcset="">
            <h1>Lar Escola Rita Maria de Jesus</h1>
            <p>
                Atendemos crianças de 06 a 12 anos, em horário contrário à escola, com diversas atividades.
            </p>
        </div>
    </div>

    <div class="container__right">
        <div class="container__right-img">
            <img src="https://scontent.fqsc2-1.fna.fbcdn.net/v/t39.30808-6/474974721_1408282113902992_6196674320194228142_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=104&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeHyvXkyrCu_EeuQ3M8LAuY0oxaNYlSjNOmjFo1iVKM06b43OwyOyHWxoLKntHPKMtWn4It_A3zbLN5maWiVSR3j&_nc_ohc=FLA1l6VnavQQ7kNvgHFQ9ah&_nc_oc=Adifh4_wGP4QLzpuT_BaUec1ru7tvdXwmk7AdkoPmNm8jrbh8slZK4pakiDz-_BLieDZKmWA6g_40OvqK2kvFl8R&_nc_zt=23&_nc_ht=scontent.fqsc2-1.fna&_nc_gid=A4uUduFrTi5iSes7C8MeUu4&oh=00_AYCLCgIRdjsgA6uK3k0eE61TG1QVBsWHdJhD-MNmNMEJ5A&oe=67ABB248" alt="">
        </div>
    </div>

</div>