<div class="container__big-card">

    <div class="small__container">
        <div class="logo__big-card">
            <img src="https://scontent.faqa4-1.fna.fbcdn.net/v/t39.30808-1/302418061_758974392167104_1166910054634756345_n.png?stp=dst-png_s200x200&_nc_cat=106&ccb=1-7&_nc_sid=f4b9fd&_nc_eui2=AeEv2bgcEZxkxqSoNj-i_VxGWpx-xTob_oZanH7FOhv-hmP0W_EB291SnUAGNMqxy2MzAUDQNCZvfGJt164X4oDr&_nc_ohc=kW6RPwtYSBMQ7kNvgGwEM6q&_nc_ht=scontent.faqa4-1.fna&oh=00_AYBXa6UfxfY3YZ8u9MmnV-wrGIGsOUKxuVsqOaOqBtGAgQ&oe=66CD0C62"
                alt="" srcset="">
        </div>
        <div class="title__big-card">
            <h1>Lar Escola Rita Maria de Jesus</h1>
        </div>
        <div class="presentation__big-card">
            <h1>Apresentação</h1>
        </div>
        <div class="description__big-card">
            <p>Atendemos crianças de 06 a 12 anos,
                em horário contrário à escola,
                com diversas atividades.
            </p>
        </div>
    </div>


    <div class="photo__big-card">
        <img src="https://scontent.faqa4-1.fna.fbcdn.net/v/t39.30808-6/305460275_758974395500437_1721625673823270158_n.jpg?stp=dst-jpg_s960x960&_nc_cat=106&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeESRUant11K_pDICLF8E6hhoswE_Vim0LmizAT9WKbQuSMev-YrFPgrM2ad8QXjPN-WI8Wn2Gfuv-R_XQ6AD6jQ&_nc_ohc=ylq_wvxVgjEQ7kNvgEGgV21&_nc_ht=scontent.faqa4-1.fna&oh=00_AYB4m429epArejJ7beViYV2QxtEnIrdTV28dbycq_gPTtA&oe=66CD1491"
            alt="" srcset="">
    </div>

</div>