<div class="container__big-card">

    <div class="container__left">

        <div class="container__left-logo">
            <img src="https://scontent.fqsc2-1.fna.fbcdn.net/v/t39.30808-1/302418061_758974392167104_1166910054634756345_n.png?stp=dst-png_s200x200&_nc_cat=106&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=967UezOdHP8Q7kNvgHsMzzN&_nc_oc=AdidxGdKsoT4pI8tqW3yVpSelLLCnI232OMMA4R3MpZ8vOBrGxG3kbyUF-I7UwnzJZWhKi9LLmPzBmu4RY_6kb-A&_nc_zt=24&_nc_ht=scontent.fqsc2-1.fna&_nc_gid=AUgxVAxtFs9t-CgZE-VwoOt&oh=00_AYB_2N1Y2ILcpxYJ3pgEJ0s3xfoOHi95IIHpkezz-XWiDg&oe=67C91322" alt="" srcset="">
            <h1>Lar Escola Rita Maria de Jesus</h1>
            <p>
                Atendemos crianças de 06 a 12 anos, em horário contrário à escola, com diversas atividades.
            </p>
        </div>
    </div>

    <div class="container__right">
        <div class="container__right-img">
            <img src="https://scontent.fqsc2-1.fna.fbcdn.net/v/t39.30808-6/474974721_1408282113902992_6196674320194228142_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=104&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=GWtfIU5ipscQ7kNvgEWwWN1&_nc_oc=AdgR2sAqleEFuqRsTAgpa-iivKQBpjEJClCdQYq9VITxnuoqs5viDtCRTI-dkI8QAnjwfPgKSg_N9NpWoD7L76M9&_nc_zt=23&_nc_ht=scontent.fqsc2-1.fna&_nc_gid=AUgxVAxtFs9t-CgZE-VwoOt&oh=00_AYCqVNIAPKLrgTe_3IyITqmxe9SIgXFcyA4HQqRrM-vyxg&oe=67C923C8" alt="">
        </div>
    </div>

</div>