<form action="">
    <div class="title">
        <h1>Cadastrar Salas</h1>
    </div>

    <div class="box__container">

        <div class="identity-card__container">

            <div class="identity">
                <label for="identity">Nome da disciplina</label>
                <select>
                    <option value="0">selecione</option>
                    <option value="0">Biologia</option>
                    <option value="1">Ciências</option>
                    <option value="2">Física</option>
                    <option value="3">Filosofia</option>
                    <option value="4">Geografia</option>
                    <option value="5">História</option>
                    <option value="6">Inglês</option>
                    <option value="7">Matemática</option>
                    <option value="8">Português</option>
                    <option value="9">Química</option>
                    <option value="10">Sociologia</option>
                </select>
            </div>

            <div class="city">
                <label for="city">Professor(a) da área</label>
                <select>
                    <option value="0">selecione</option>
                    <option value="1">Fábio Crippa</option>
                    <option value="2">Bruno Sotto</option>
                    <option value="2">Márcia Sancassani</option>
                    <option value="2">Eder Sotto</option>
                </select>
            </div>

            <div class="button-save__container">
                <button type="button">Salvar</button>
            </div>
        </div>

        <div class="course__container">

            <div class="course">
                <label for="">Curso</label>
                <select>
                    <option value="0">selecione</option>
                    <option value="1">Ensino fundamental I</option>
                    <option value="2">Ensino fundamental II</option>
                    <option value="3">Ensino médio</option>
                </select>
                <button type="button">adicionar</button>
            </div>

            <div class="group">
                <label for="">Turma</label>
                <select>
                    <option value="0">selecione</option>
                    <option value="1">5A</option>
                    <option value="2">5B</option>
                    <option value="3">5C</option>
                    <option value="4">5D</option>

                </select>
                <button type="button">adicionar</button>
            </div>

        </div>
    </div>
</form>


<!-- Angular CRUD -->
<!-- https://www.youtube.com/watch?v=4mKY_yDq64g -->
