<div class="school-card__container">
    <div class="school-card">

        <div class="header__container">
            <div class="img__perfile">
                <img src="https://img.icons8.com/color/48/circled-user-female-skin-type-1-2--v1.png" alt="" srcset="">
            </div>
            <div class="school-information">
                <h3>Lar Escola Rita Maria de Jesus</h3>
                <h3>R.Cândido Portinari, 46</h3>
                <h3>Jardim Floridiana(Vila Xavier)</h3>
                <h3>Araraquara - SP</h3>
                <h3>(16) 3337-4760</h3>
            </div>
        </div>
    
        <div class="personal-data__container">
            <div class="title">
                <h1>Carteirinha de estudante</h1>
            </div>
    
            <div class="fname__container">
                <div class="fname">
                    <label for="fname">Nome Completo</label>
                    <input type="text" name="" id="" placeholder="Barbara Crippa">
                </div>
    
                <div class="matricula">
                    <label for="matricula">Matrícula</label>
                    <input type="text" name="" id="" placeholder="000100">
                </div>
            </div>
    
            <div class="course__container">
                <div class="course">
                    <label for="curso">Curso</label>
                    <input type="text" name="" id="" placeholder="Ensino Fundamental II">
                </div>
    
                <div class="group">
                    <label for="turma">Turma</label>
                    <input type="text" name="" id="" placeholder="9A">
                </div>
            </div>
    
            <div class="identity__container">
                <div class="identity">
                    <label for="identity">RG</label>
                    <input type="text" name="" id="" placeholder="3215298877">
                </div>
    
                <div class="CPF">
                    <label for="CPF">CPF</label>
                    <input type="text" name="" id="" placeholder="29568739906">
                </div>
            </div>
    
            <div class="date__container">
                <div class="date">
                    <label for="date">Data de nascimento</label>
                    <input type="text" name="" id="" placeholder="15/02/2020">
                </div>
    
                <div class="valid">
                    <label for="valid">Validade</label>
                    <input type="text" name="" id="" placeholder="15/02/2025">
                </div>
            </div>
        </div>
    </div>
</div>