.form__comment {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.input > input {
    display: flex;
    width: 300px;
    margin-bottom: 10px;
}

textarea {
    display: flex;
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
}

button {
    border: none;
    color: white;
    background-color: rgb(0, 108, 139);
    width: 100px;
    height: 35px;
    border-radius: 25px;
    margin-right: 10px;
    cursor: pointer;
}