<form class="form__comment" action="mailto:someone@example.com" method="post" enctype="text/plain">
    <h2>COMUNICADOS</h2>
    <div class="input">
        De:
        <input type="text" name="name" id="">
    </div>

    <div class="input">
        Para:
        <input type="text" name="mail" id="">
    </div>

    <div class="input">
        Assunto:
        <textarea name="text-area" id="">Prezada Família,</textarea>
    </div>

    <div class="file__button">
        <button type="submit">Enviar</button>
        <input type="file" name="file__name" id="">
    </div>
</form>
