<div class="title__qrcode-card">
    <h1>Gostaria de nos ajudar?</h1>
</div>

<div class="container__qrcode-card">

    <div class="small-container">
        
        <div class="small-card">
            <div class="subtitle__qrcode-card">
                <h2>Doe qualquer valor!</h2>
            </div>
            <div class="description__qrcode-card">
                <p>Com o valor escolhido você pode ajudar com
                    cestas básicas, assistência e tratamento
                    das crianças.
                </p>
            </div> 
        </div>
    </div>
    
    <div class="container__chave-pix">
        <div class="chavepix">
            <h1>Escaneie o QRcode para fazer sua doação.</h1>
            
                <h4>Chave Pix:</h4>
                <p>0000000000/0001-00</p>
    
                <h4>Tipo de chave:</h4>
                <p>cnpj</p>
        </div>
        <div class="photo-qrcode">
            <img src="https://hexdocs.pm/qr_code/docs/qrcode.svg" alt="" srcset="">
        </div>

    </div>
    

</div>

