.container__menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 80px;
}

.logo__menu-bar {
  display: flex;
  width: 400px;
  height: 70px;
}

.logo__menu-bar > h1 {
  font-size: 22px;
  color: rgb(0, 108, 139);
  margin-right: 20px;
}

.lista__menu-bar > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: rgb(0, 108, 139);
}

.lista__menu-bar > ul > li {
  margin-right: 20px;
  font-weight: bold;
}

button {
  margin-left: 10px;
  border-radius: 25px;
  width: 129px;
  height: 42px;
  border: none;
  background: rgb(252, 127, 56);
}