<form action="">
    <div class="title">
        <h1>Cadastrar Aluno</h1>
    </div>

    <div class="box__container">

        <div class="personal-data__container">
            <div class="registry">
                <label for="registry">Matrícula Número</label>
                <input type="number" name="" id="" placeholder="id">
            </div>

            <div class="fname">
                <label for="fname">Nome Completo</label>
                <input type="text" name="" id="" placeholder="Digite o nome completo">
            </div>

            <div class="date">
                <label for="date">Data de nascimento</label>
                <input type="date" name="" id="">
            </div>

            <div class="parents">
                <label for="parents">Filiação</label>
                <input type="text" name="" id="" placeholder="Digite o nome completo da mãe">
                <input type="text" name="" id="" placeholder="Digite o nome completo do pai">
            </div>

            <div class="gender">
                <label for="">Gênero</label>
                <select>
                    <option value="0">não se identificar</option>
                    <option value="1">masculino</option>
                    <option value="2">feminino</option>
                </select>

            </div>

            <div class="contact">
                <label for="contact">Contato</label>
                <input type="tel" name="" id="" placeholder="(xx) - x.xxxx.xxxx">
            </div>
        </div>

        <div class="identity-card__container">

            <div class="identity">
                <label for="identity">Documento de identificacão</label>
                <select>
                    <option value="0">selecione</option>
                    <option value="1">Carteira de habilitação</option>
                    <option value="2">Carteira de identidade</option>
                </select>
            </div>

            <div class="date">
                <label for="date">Data de expedição</label>
                <input type="date" name="" id="">
            </div>

            <div class="cpf">
                <label for="cpf">CPF</label>
                <input type="number" name="" id="" placeholder="Digite o cpf">
            </div>

            <div class="address">
                <label for="address">Endereço</label>
                <input type="text" name="" id="" placeholder="nome completo da rua/avenida">
                <input type="text" name="" id="" placeholder="bairro">
                <input type="text" name="" id="" placeholder="cep">
            </div>

            <div class="city">
                <label for="city">Cidade</label>
                <select>
                    <option value="0">selecione</option>
                    <option value="1">Araraquara</option>
                    <option value="2">Américo Brasiliense</option>
                </select>
            </div>

            <div class="state">
                <label for="state">Estado</label>
                <select>
                    <option value="0">selecione</option>
                    <option value="1">AC</option>
                    <option value="2">AM</option>
                </select>
            </div>

            <div class="button-save__container">
                <button type="button">Salvar</button>
            </div>
        </div>

        <div class="course__container">

            <div class="course">
                <label for="">Curso</label>
                <select>
                    <option value="0">selecione</option>
                    <option value="1">Ensino fundamental I</option>
                    <option value="2">Ensino fundamental II</option>
                    <option value="3">Ensino médio</option>
                </select>
            </div>

            <div class="group">
                <label for="">Turma</label>
                <select>
                    <option value="0">selecione</option>
                    <option value="1">5A</option>
                    <option value="2">5B</option>
                    <option value="3">5C</option>
                    <option value="4">5D</option>

                </select>
            </div>
        </div>

        <div class="photo">
            <label for="photo">Carregar Foto</label>
            <img src="https://img.icons8.com/external-line-vectorslab/68/external-Upload-Photo-social-media-line-vectorslab.png"
                alt="" srcset="">
            <input type="file" name="" id="">
        </div>
    </div>
</form>


<!-- Angular CRUD -->
<!-- https://www.youtube.com/watch?v=4mKY_yDq64g -->